# {{name}}

{{#repository}}
[![dependencies](https://img.shields.io/david/{{repository.user}}/{{repository.name}}.svg?style=flat-square)](https://www.npmjs.com/package/{{appName}})
{{/repository}}


<!-- custom -->
<!-- custom -->


